<div class="container">
	<div class="well">
	<h1 class="text-center">Captain Crunchbase</h1>
	</div>	
	<br>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Parseeee">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg">Search</button>
				</form>
			</div>
		</div>

</div>