<div class="container">
  <div class="well">
    <h1 class="text-center">Captain Crunchbase</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form ng-submit="searchCCB()">
        <div class="form-group">
          <input type="text" class="form-control input-lg text-center" ng-model="searchQuery" placeholder="Parseeee" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </form>
    </div>
  </div>

  <br/>

  <div class="panel-group" id="orgs-data" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" ng-repeat="org in orgs track by $index">
      <div class="panel-heading" role="tab" id="heading-{{$index}}">
        <h4 class="panel-title">
          <a class="collapsed" data-parent="#orgs-data" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}"
             ng-click="collapse(org)">
            {{org.name}}
          </a>
        </h4>
      </div>
      <div id="collapse{{$index}}" class="panel-collapse" role="tabpanel" aria-labelledby="heading{{$index}}" ng-show="org.visible">
        <div class="panel-body">
          Loading {{org.name}} ....
        </div>
      </div>
    </div>
  </div>

</div>
