<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-app="main">

    <div ng-controller="TestController">
      <input ng-model="Bobby">
      <ul>
        <li ng-repeat="name in names | filter:Bobby track by $index">
          {{name}}
        </li>
      </ul>

      <input ng-model="Ryan">
      <button ng-click="addName()">+</button>
    </div>
  </body>

</html>
